.research-container {
  padding: 80px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}


.research-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.research-image img {
  margin-top: 5%;
  max-width: 80%;
  margin-left: 10%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.research-text {
  max-width: 600px;
  color: #f0f0f016;
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
}

.research-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.research-text p {
  font-size: 1rem;
  color: #dadada;
  margin-bottom: 20px;
}

.research-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.research-text a:hover {
  text-decoration: underline;
}

.research-section {
  position: relative;
  z-index: 10;
  background-color: transparent;
}
