.research-container {
  padding: 50px;
  background-color: #f9f9f9;
}

.research-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.research-image img {
  max-width: 50%;
  margin-left: 20%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.research-text {
  max-width: 600px;
  font-family: 'Arial', sans-serif;
}

.research-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.research-text p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.research-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.research-text a:hover {
  text-decoration: underline;
}
